<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="kayttajatiedosto" value="users.xml"/>
  </appSettings>
  <connectionStrings>
    <add name="Mysli" connectionString="Server=mysql.labranet.jamk.fi;database=salesa;user=salesa;password=qsQagWWPEv20BTFR70eBKOPy0D8xzCIX" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="None">
      <forms loginUrl ="login.aspx"
             timeout="5"
             name="MyKeksi"
             >
      </forms>
    </authentication>
    <authorization>
      <!--<deny users ="?"/>
      <allow users="esa,vesa"/>
      <deny users="*"/>-->
    </authorization>
    <!-- <roleManager enabled="true" /> -->
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <!--<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />-->
    </DbProviderFactories>
  </system.data>
</configuration>